.boxUser {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  min-height: 200px;
  width: 150px;
  right: 0;
  border-radius: 20%;
  background-color: white;
  border: 1px solid rgba(60, 66, 87, 0.12);
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.boxButton__button  {
  width: auto;
  margin: -30px;
}

.boxButton {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

